<nav>
    <ul>
        <li><a href="/home">
            <img src="/src/Home - Icon.svg" alt="Home">
        </a></li>

        <li><a href="/search">
            <img src="/src/Search - Icon.svg" alt="Search">
        </a></li>

        <li><a href="/friendrequest">
            <img src="/src/Friend Requests - Icon.svg" alt="Requests">
        </a></li>

        <li><a href="/friends">
            <img src="/src/Friends - Icon.svg" alt="Friends">
        </a></li>

        <li><a href="/chat">
            <img src="/src/Chat - Icon.svg" alt="Chat">
        </a></li>

        <li><a href="/settings">
            <img src="/src/Settings - Icon.svg" alt="Settings">
        </a></li>
    </ul>
</nav>