<%- include('./partials/nav') %>


<form action="/home/createpost" method="POST" class="theme-box theme-form">
    <h2>Create Post</h2>
    <textarea name="content" cols="30" rows="10" placeholder="Write Something...."></textarea>
    <button type="submit">Post</button>
</form>