<%- include('./partials/nav') %>


<form action="/<%= func %>" method="GET" class="theme-box theme-prompt">
    <h2>Are you sure ?</h2>
    <div>
        <button type="submit">Confirm</button>
        <a href="/settings">Cancel</a>
    </div>
</form>